.overflow-scroll {
  overflow-y: auto;
  overflow-x: hidden;
}
.bg-control {
  background-color: #f5f5f5;
}
.pointer {
  cursor: pointer;
}
.badge-md {
  font-size: 13px !important;
}
.fill{
  margin: 0 !important;
  padding: 0 !important;
}
.panel-readonly{
  opacity: 0.7;
}